.question {
    font-family: 'Helvetica', sans-serif;
    font-size: larger;
    width: 50%;
    display:inline-block;
    color:rgb(255, 255, 255);
}
.text {
    font-family: 'Helvetica', sans-serif;
    font-size: medium;
    color:rgb(255, 255, 255);
}
.type {
    position: relative;
    flex: 1;
    left: 150px;
}
.card {
    position: static;
    width: 96%;
    margin-top: 20px;
    background-color: #4050b4;
    display: flex;
}
.slider {
    position: relative;
    top: 0px;
    color: mat-color;
}
.checkbox {
    position: relative;
    left: 0px;
    top: 0px;
}
.textbox {
    position: relative;
    top: 10px;
    left: 0px;
    color:rgb(255, 255, 255);
}
.company {
    color:rgb(255, 255, 255);
}
.address {
    height: 50px;
}
.labelText {
    font-family: 'Helvetica', sans-serif;
    margin: 25px;
    font-size: 3em;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    }

    ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
    } 

    ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
    }

    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: white; /*replace with your color*/
    }
    
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: whitesmoke;  /*replace with your color*/
    }