<div *ngIf="type=='label'; else elseBlock">
    <div class="labelText">{{question}}</div>
</div>
<ng-template #elseBlock>
    <mat-card id="body" class="card">
        <mat-label class="question">{{question}}</mat-label>
        <div [ngSwitch]="type" class="type">
            <span *ngSwitchCase="'slider'" class="slider">
                <span class="text">Strongly Disagree&nbsp;</span>
                <mat-slider #slider (change)="updateElement($event)" min="1" max="5" step="1" value="1" thumbLabel="true"></mat-slider>
                <span class="text">Strongly Agree</span>
            </span>
            <span *ngSwitchCase="'checkbox'" class="checkbox">
                <span class="text">Definitely No&nbsp;&nbsp;</span>
                <mat-slide-toggle #checkbox (change)="updateCheckbox($event)" color="primary"></mat-slide-toggle>
                <span class="text">&nbsp;&nbsp;Yes!</span>
            </span>
            <span *ngSwitchCase="'textbox'" class="textbox">
                <mat-form-field class="mat-form-field">
                    <mat-label style="color: white;">Input</mat-label>
                    <input matInput [(ngModel)]="inputText" (ngModelChange)="updateInput()">
                </mat-form-field>
            </span>
            <span *ngSwitchCase="'company'" class="company">
                <mat-form-field appearance="fill">
                    <mat-label style="color:white">Company</mat-label>
                    <mat-select style="color:white" (selectionChange)="updateCompany($event)">
                        <mat-option style="color:white; background-color: #8a46b8;" class="companys" *ngFor="let company of companys" [value]="company.value">
                          {{company.value}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </span>
            <div *ngSwitchCase="'address'" class="address">
                <AutocompleteComponent #search (updateAddress)="updateAddress($event)"></AutocompleteComponent>
            </div>
        </div>
    </mat-card>
</ng-template>