.infoText {
    text-align: center;
    font-size: 40em;
    color: black;
}
.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  h1 span { 
    background-color: rgb(255, 255, 255); 
}
  

  table {
    width: 100%;
  }

  header {
    background: url("/assets/wepoolmap.png") center bottom;
    height: 130vh;
    position: relative;
  }
