.navbar{
    justify-content:space-between;
}

span {
    padding-right: 2rem;
}

.example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 64px;
  }
  
 /* Solid border */
hr.solid {
    border-top: 0px solid rgb(255, 255, 255);
  }

   /* Background stuff*/
   header{
    background: url("/assets/wepool 3.jpg") center top repeat, url("/assets/wepoolmap.jpg") center bottom repeat;
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position:center center;
    position: relative;

}

   body {
    background: url("/assets/wepoolmap.png") center bottom;
    height: 80vh;
    position: relative;
  }