<div class="container">
    <mat-accordion class="accordion" [multi]="panelState">
        <div *ngFor="let rider of group; let i = index">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header class="accordion">
                <mat-panel-title>
                    <b>Rider {{i+1}}: {{rider.Profile.FirstName}} {{rider.Profile.LastName}}</b>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <b>Name: </b>
                <p>{{rider.Profile.FirstName}} {{rider.Profile.LastName}}</p>
                <b>Gender:</b>
                <p>{{rider.Profile.Gender}}</p>
                <b>Phone Number: </b>
                <p>{{phoneNums[i]}}</p>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>
